body {
	background-color: #5E6633;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #1E2B1C;
	font-size: 30px;
}

h1 {
font-size: 18px;
}

h2 {
font-size: 14px;
font-weight: bold;
font-style: italic;
}

p {
	font-size: 12px;
}
